
<p style="color: green"><%= notice %></p>

<h1>Combats</h1>

<div id="combats">

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Brief Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @combats.each do |combat| %>
      <tr>
        <td><%= link_to combat.combat_name, edit_combat_path(combat) %></td>
        <td><%= combat.description%></td>
        <td><%= button_to "Destroy", combat, method: :delete, class: "btn btn-outline-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<%= link_to "New combat", new_combat_path, class:"btn btn-outline-secondary" %>


