

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Brief Description</th>
              <th scope="col">Level or CR</th>
              <th scope="row g-3 align-items-center">Number</th>
            </tr>
          </thead>
          <tbody id="combatant_selector_modal_table_body">
            <% @combatants.each do |combatant| %>
              <tr 
                data-id="<%=combatant.id %>"
                data-name="<%=combatant.name %>"
                data-description="<%=combatant.description %>"
                data-crOrLevel="<%=combatant.cr_or_level %>"
              >
                <td><%= check_box("combatant_#{combatant.id}", :selected)%></td>
                <td><%= combatant.formated_name %></td>
                <td><%= combatant.description %></td>
                <td><%= combatant.cr_or_level %></td>
                <td><%= form.number_field("combatant_instances[#{combatant.id}]", {:value => 1, :min => 1, :max => 10})%></td>
              </tr>
            <% end %>  
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="combatants_modal_confirm" >Confirm</button>
      </div>
    </div>
  </div>
</div>