<div id="<%= dom_id combatant %>">
  <p>
    <strong>Name:</strong>
    <%= combatant.Name %>
  </p>

  <p>
    <strong>Initiative:</strong>
    <%= combatant.Initiative %>
  </p>

  <p>
    <strong>Hp max:</strong>
    <%= combatant.HP_Max %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= combatant.HP %>
  </p>

  <p>
    <strong>Temp hp:</strong>
    <%= combatant.Temp_HP %>
  </p>

  <p>
    <strong>Ac:</strong>
    <%= combatant.AC %>
  </p>

  <p>
    <strong>Str save:</strong>
    <%= combatant.Str_Save %>
  </p>

  <p>
    <strong>Dex save:</strong>
    <%= combatant.Dex_Save %>
  </p>

  <p>
    <strong>Con save:</strong>
    <%= combatant.Con_Save %>
  </p>

  <p>
    <strong>Int save:</strong>
    <%= combatant.Int_Save %>
  </p>

  <p>
    <strong>Wis save:</strong>
    <%= combatant.Wis_Save %>
  </p>

  <p>
    <strong>Cha save:</strong>
    <%= combatant.Cha_Save %>
  </p>

  <p>
    <strong>Death save pass:</strong>
    <%= combatant.Death_Save_Pass %>
  </p>

  <p>
    <strong>Death save fail:</strong>
    <%= combatant.Death_Save_Fail %>
  </p>

  <p>
    <strong>Dead:</strong>
    <%= combatant.Dead %>
  </p>

</div>
