<tr id="<%= dom_id combatant %>">

  <td><%= combatant.Name %></td>
  <td><%= combatant.Initiative %></td>
  <td><%= combatant.HP_Max %></td>
  <td><%= combatant.HP %></td>
  <td><%= combatant.Temp_HP %></td>
  <td><%= combatant.AC %></td>
  <td><%= combatant.Dead %></td>

</tr>
