<tr id="<%= dom_id combatant %>">

<td>
    <%= combatant.Name %>
  </td>
  <td>
    <%= combatant.Initiative %>
  </td>

  <td>
    <%= combatant.HP_Max %>
  </td>

  <td>
    <%= combatant.HP %>
  </td>

  <td>
    <%= combatant.Temp_HP %>
  </td>

  <td>
    <%= combatant.AC %>
  </td>

  <td>
    <%= combatant.Str_Save %>
  </td>

  <td>
    <%= combatant.Dex_Save %>
  </td>

  <td>
    <%= combatant.Con_Save %>
  </td>

  <td>
   
    <%= combatant.Int_Save %>
  </td>

  <td>
    
    <%= combatant.Wis_Save %>
  </td>

  <td>
    
    <%= combatant.Cha_Save %>
  </td>

  <td>
    <strong>Death save pass:</strong>
    <%= combatant.Death_Save_Pass %>
  </td>

  <td>
    <strong>Death save fail:</strong>
    <%= combatant.Death_Save_Fail %>
  </td>

  <td>
    <strong>Dead:</strong>
    <%= combatant.Dead %>
  </td>

</tr>
