<% if user_signed_in?%>
<h1>Combatants</h1>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Brief Description</th>
      <th scope="col">Level or CR</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @combatants.each do |combatant| %>
      <tr>
        <td><%= link_to combatant.formated_name, edit_combatant_path(combatant) %></td>
        <td><%= combatant.description %></td>
        <td><%= combatant.cr_or_level %></td>
        <td><%= button_to "x", combatant, method: :delete, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>  
  </tbody>
</table>

  <%= link_to "New Combatant", new_combatant_path, class:"btn btn-outline-secondary"%>
<% else %>
 <script>
    window.location.href = '<%= new_user_session_path %>';
  </script>
<% end %>


